{% include 'core/navbar.html' %}
{% load static %}

<div id="content-wrapper" class="mt-4" style="padding-top: 1%;">
     <div class="container-fluid">
       <div class="card mb-2 col-md-12">
           <div class="card-body">
               <div class="row">
                   <div class="col-md-5">
                       <img src="{% static 'img/7.png' %}" style="padding-left: 20%;", width="500">
                   </div>
                   <div class="col-md-6">

                       <h1 class="text-primary">Build your Resume, SuperFast.</h1>

                       <p class="welcome_text">Fill in the Form, to Generate and Download your Resume in PDF.</p>
                      
                       {% if status == 'there_is_cv' %}
                       <a href="{% url 'createcv' %}">
                        <button class="btn btn-primary">Create Resume</button>
                       </a>
                       

                    <a href="{% url 'cv-detail'  id=request.user.cv.id %}">
                        <button class="btn btn-info">View Resume</button>
                    </a>
  
                      <a href="{% url 'cv-edit' %}">
                        <button class="btn btn-success">Edit Resume</button>
                    </a>
  
  
                    <a href="{% url 'cv-download' id=request.user.cv.id %}">
                      <button class="btn btn-warning">Download Resume</button>
                  </a>

                       {% else %}
                       <a href="{% url 'createcv' %}">
                        <button class="btn btn-primary">Create Resume</button>
                       </a>

                       {% endif %}


                       <br/>
                       <br/>
                       <br/>

                    {% include 'core/footer.html' %}
                   </div>
               </div>
           </div>
       </div>
     </div>
</div>




